// Footer
footer
  .container.text-center
    .row
      .col-md-4
        // Widget 1
        .widget
          h4 About Us
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum.
          // Social Media
          .social
            a(href='#')
              i.fa.fa-twitter.twitter
            a(href='#')
              i.fa.fa-pinterest.pinterest
            a(href='#')
              i.fa.fa-facebook.facebook
            a(href='#')
              i.fa.fa-google-plus.google-plus
            a(href='#')
              i.fa.fa-linkedin.linkedin
      .col-md-4
        // widget 2
        .widget
          h4 Recent Posts
          ul
            li
              i.fa.fa-angle-right
              a(href='#') Sed eu leo orci, in rhoncus puru
            li
              i.fa.fa-angle-right
              a(href='#') Condimentum gravida metus
            li
              i.fa.fa-angle-right
              a(href='#') Lpsum, in rhoncus purus
            li
              i.fa.fa-angle-right
              a(href='#') Etiam at in rhoncus puru nul
            li
              i.fa.fa-angle-right
              a(href='#') Fusce vel magnais dapibus facilisis
      .col-md-4
        // Widget 3
        .widget
          h4 Categories
          ul
            li
              i.fa.fa-angle-right
              a(href='#') Condimentum
            li
              i.fa.fa-angle-right
              a(href='#') Etiam at
            li
              i.fa.fa-angle-right
              a(href='#') Fusce vel
            li
              i.fa.fa-angle-right
              a(href='#') Vivamus
            li
              i.fa.fa-angle-right
              a(href='#') Pellentesque
    .row
      hr
      .col-md-12
        p.copy.pull-left
          // Copyright information. You can remove my site link.
          | Copyright © 
          a(href='#') Your Site
          |  | Designed by 
          a(href='http://responsivewebinc.com') Responsive Web Design
