// Footer
footer.footer
  .container.text-center
    .row
      .col-md-6
        p.copy.pull-left
          | Copyright © 
          a(href='#') Mailzee.ovh
          |  | Created by students from 
          a(href='https://exia.cesi.fr/') eXia.CESI
          
      .col-md-6  
        .social.pull-right
          a(href='#')
            i.fa.fa-twitter.twitter
          a(href='#')
            i.fa.fa-pinterest.pinterest
          a(href='#')
            i.fa.fa-facebook.facebook
          a(href='#')
            i.fa.fa-google-plus.google-plus
          a(href='#')
            i.fa.fa-linkedin.linkedin
