ul.nav.nav-pills.nav-stacked
  li(role="presentation",class=subtitle=='Notifications'?'active':undefined)
    a(href="/mailbox/#{mailbox.id}/notifications") List notifications
  li(role="presentation",class=subtitle=='Edit'?'active':undefined)
    a(href="/mailbox/#{mailbox.id}/edit") Edit Mailbox
  li(role="presentation")
    a(href="#") Delete Mailbox
