extends ../layout

block content
  .row.row-offcanvas-left
    .col-xs-12.col-sm-3.sidebar-offcanvas
      include layout/menu
      
    .col-xs-12.col-sm-9
      form.form-horizontal(id='mailbox-form', action="", method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='text') Owner name
          .col-sm-7
            .input-group.margin-bottom-sm
              span.input-group-addon
                i.fa.fa-user
              input.form-control(type="text", name="owner_name", id="owner_name", placeholder="Owner name")
              
        .form-group
          label.col-sm-3.control-label(for='text') Phone number
          .col-sm-7
            .input-group.margin-bottom-sm
              span.input-group-addon
                i.fa.fa-mobile.fa-lg
              input.form-control(type="text", name="phone_number", id="phone_number", placeholder="Phone number")
            
        .form-group
          .col-sm-offset-3.col-sm-7
            button.btn.btn-success(type='submit')
              i.fa.fa-mobile.fa-lg
              |  Add sms notification
